.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

/* ICON CIRCLE */
.service-card img {
  width: 65px;
  height: 65px;
  background: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TEXT */
.service-card p {
  margin-top: 12px;
  font-size: 13px;
  text-align: center;
  white-space: pre-line;  /* 🔥 for line break */
  line-height: 1.4;
}

/* HOVER */
.service-card:hover img {
  transform: scale(1.1);
}